#container{
    
    background-color: rgb(255, 232, 140);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(125px, auto );
    grid-template-areas: 
      " .. .. .. hd2  hd2  hd2  hd2  .. .. "
      "..  sd sd main main main main .. .. "
      "..  hd hd hd   hd   hd   hd   .. .. ";
}



#a {
    grid-area: hd;
    
}

#b{
    grid-area: hd2;
    
}

#c{
    grid-area: sd;
    height: 250px;
    
}

#d{
    grid-area: main;
    height: 250px;
    
}


.css {
    font-size: 40px;
    color: white;
    font-weight: bold;
    background-color: gray;
    margin: 5px;
    border-radius: 10px;
    border: solid;
    text-align: center;
}
