#container{
    
    background-color: rgb(255, 232, 140);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto );
    grid-template-areas: 
      "a  a  b  c  d "
      "e  f  g  g  h  "
      "i  j  g  g  .."
      "k  k  k  l  m";
}

@media only screen and (max-width: 600px) {
    #container{
    
        background-color: rgb(255, 232, 140);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto );
        grid-template-areas: 
         
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j"
        "k"
        "l"
        "m"
        
        
        ;
    }
  }



#a {
    grid-area: a;
    
}

#b{
    grid-area: b;
    
}

#c{
    grid-area: c;
   
    
}

#d{
    grid-area: d;
    
    
}

#e{
    grid-area: e;
    
    
}
#f{
    grid-area: f;
    
    
}
#g{
    grid-area: g;
    
    
}
#h{
    grid-area: h;
    
    
}

#i{
    grid-area: i;
}
#j{
    grid-area: j;
}
#k{
    grid-area: k;
}
#l{
    grid-area: l;
}
#m{
    grid-area: m;
}


.css {
    font-size: 40px;
    color: white;
    font-weight: bold;
    background-color: gray;
    margin: 5px;
    border-radius: 10px;
    border: solid;
    text-align: center;
}
