#container{
    background-color: rgb(255, 232, 140);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "hd hd    hd2   hd2   "
      "sd  main main main "
      "ft ft ft ft   ";
}

#a {
    grid-area: hd;
    
}

#b{
    grid-area: hd2;
    
}

#c{
    grid-area: sd;
    
}

#d{
    grid-area: main;
    
}

#e{
    grid-area: ft;
    
}
.css {
    background-color: gray;
    margin: 5px;
    border-radius: 10px;
    border: solid;
    text-align: center;



}
